**/*.crt
**/*.csr
**/*.key
**/*.pid
**/*.pyc
**/*.xml
**/secrets.yaml

docker-compose.yaml
Notes

ha_dockermon/
homebridge/
influxdb-grafana/
mqtt/
mysql/
nginx-letsencrypt/
syncthing/
tautulli/

homeassistant/deps/
homeassistant/lib/
homeassistant/tts/
homeassistant/www/entity_pictures/
homeassistant/www/images/

homeassistant/*.conf
homeassistant/*.db-journal
homeassistant/home-assistant*
homeassistant/ip_bans.yaml
homeassistant/known_devices.yaml
homeassistant/OZW_Log.txt
homeassistant/pyozw.sqlite
homeassistant/scripts/facerecog.py
homeassistant/scripts/host-key*
homeassistant/sensors/room_master_climate

.*
!/.gitignore
!/.travis.yml
